@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
    Layout = "_LoginLayout";
}

<div class="text-center">

    <div id="loginform" style="border: 1px solid black; @if (!Model.LoggedIn) { <text>display: block;</text> } else { <text>display: none;</text> }">
    <h1 class="display-4">Login</h1>
        <form method="post" asp-page-handler="Show">
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="text-danger">
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div id="MyTaskTable" @if (Model.TableisVisable) { <text>style="display: block;"</text> } else { <text>style="display: none;"</text> }>
        <h1 class="display-4">Your tasks</h1>
        <table>
            <tr>
                <th>Title</th>
                <th>Description</th>
            </tr>
            @foreach (var Task in Model.worker.WorkerTasks) {
                <tr>
                    <td>@Task.Title</td>
                    <td>@Task.Description</td>
                    <td>
                        <form method="post">
                            <input type="hidden" asp-for="targetTask" value="@Task.WorkerTaskID" />
                            <input type="submit" asp-page-handler="MarkComplete" value="Mark Complete" class="btn btn-primary btn-sm"/>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_validationScriptsPartial");}
}