@page
@model MyTasksModel
@{
    ViewData["Title"] = "Home";
    Layout = "_MainLayout";
}

<div class="text-center">
    <h1 class="display-4">Your tasks</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
        </tr>
        @foreach (var Task in Model.Tasks) {
            <tr>
                <td>@Task.Title</td>
                <td>@Task.Description</td>
                <td>
                    <form method="post">
                        <input type="hidden" asp-for="thisWorker" value="@Task.WorkerTaskID" />
                        <input type="submit" asp-page-handler="MarkComplete" value="Mark Complete" class="btn btn-primary btn-sm"/>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>